main{
    /* Desktop */
    @media screen and (max-width:1920px)
    {
        .presentation-container{
            display: flex;
            flex-direction: row;
            height: fit-content;
            align-items: center;
            background-color:$background-color-primary;
            color: $font-color-primary;
            padding: 2em 0;
            grid-template-columns: 1fr 1fr;
            width: 1024px;

            figure{
                width: 20vw;
                display: flex;
                flex-direction: row;
                img{
                    width: 350px;
                    border-radius: 30px;
                }
            }

            article{
                width: 40vw;
                align-items:center;
                h1{
                    margin-top: 1em;
                    text-align: left;
                    
                    font-size: 28px;
                    font-weight: bolder
                }
                p{
                    text-align: left;
                    
                    margin-top: 1em;
                    font-size: 16px;
                    color: #000;
                    font-weight: 600;    
                }
            }
            .btn-group{
                
                
                
                margin-top: 1em;
                text-decoration: none;
                a{
                    text-decoration: none;
                }
                .btn{
                    width: 120px;
                    height: 40px;
                    border: none;
                    border-radius: 20px;
                    font-size: 14px;
                    box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
                    cursor:pointer;
                    margin-right: 1em;
                }
                .buy{
                    background-color: $background-color;
                    color: $font-color;
                    cursor: pointer;
                    &:hover{
                        transition: 0.5s;
                        background-color: #517cd8;
                    }
                }
                .about{
                    background-color: #ccc;
                    &:hover{

                        background-color: rgb(235, 235, 235);
                        transition: 0.5s;
                    }
                }
                
            }
        }
        .benefits-container{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            height: fit-content;
            background-color: $background-color;
            padding:2em 0px;
            width: 1024px;
            border-radius: 20px;
            
            h1{

                text-align: center;
                font-size: 34px;
            }
            .beneficios-description{
                font-size: 20px;
                text-align: center;
                width: 100%;
                margin-top: 1em;
                p{
                    width: 50%;
                }
            }
            article{
                width: 25%;
                margin-top: 3em;
                .icon-container{
                    text-align: center;
                    i{
                        
                        font-size: 56px;
                    }
                }
                h2{
                    font-size: 24px;
                    text-align: center;
                }
                p{
                    font-size: 18px;
                    
                    text-align: center;
                }
            }
            .hover-benefits{
                transform: scale(1);
                &:hover{
                    transform: scale(1.1);
                    transition: all ease 0.5s;
                    cursor: pointer;
                }
            }

        }
        .product-container{
            background-color: $background-color-primary;
            height: fit-content;
            padding-bottom: 2em;
            width: 1024px;
            article{
                display: flex;
                margin-top: 2em;
                .product-container-content{
                    width: 50%;
                    h1{
                        color: $font-color-primary;
                        font-size: 36px;
                        font-weight: bold;
                        width:100%;
                        text-align: left;
                    }
                    p{
                        margin-top: 1em;
                        color: #303030;
                        width: 100%;
                        text-align: left;
                        font-size: 20px;
                        font-weight: bold;
                    }
                }
                .product-container-image{
                    width: 40%;
                    figure{
                        margin: 1em 0;
                        text-align: center;
                        img{
                            width: 300px;
                            border-radius: 20px;
                        }
                    }
                    .color-description{
                        display: flex;
                        width: 20vw;
                        flex-direction: row;
                        font-size: 24px;
                        cursor: pointer;
                        .color-icon{
                            transform: scale(1);
                            transform-origin: center center;
                            &:hover{
                                transform:scale(1.5);
                                transition: all ease 0.5s;
                            }
                        }
                        .blue{
                            color: #3777c6;
                            
                        }
                        .black{
                            color: #000;
                        }
                        .offwhite{
                            color: #ccb487
                        }
                        .gray{
                            color: #9d9c97;
                        }
                        .brown{
                            color: #835e55;
                        }
                        .green{
                            color: #41b5a2;
                        }
                    }
                }
            }
            
            
        }
        .howtouse-container{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            height: fit-content;
            padding-bottom: 1em;
            background-color: $background-color;
            width: 1024px;
            border-radius: 20px;
            i{
                font-size: 36px;
            }
            h1{
                text-align: center;
                margin-top: 1em;
                font-size: 36px;
                width: 100vw;
            }
            P{
                margin-top: 1em;
                font-size: 20px;
                width: 80%;
                text-align: center;
                margin-bottom: 1em;
            }
            .card-step{
                width:30%;
                text-align: center;
                margin-bottom: 1em;
                margin-top: 1em;
                transform: scale(1);
                padding: 10px 0px;
                p{
                    font-size: 20px;
                    width: 80%;
                }
                img{
                    width: 150px;
                    height:150px;
                    border-radius: 50%;
                }
                &:hover{
                    transform: scale(1.1);
                    transition: all ease 0.5s;
                    cursor: pointer;
                }
            }
        }
    }
    /* Mobile */
    @media screen and (max-width:1024px)
    {   
        .presentation-container{
            display: flex;
            flex-direction: column;
            height: fit-content;
            flex-wrap: wrap;
            align-items: center;
            background-color:$background-color-primary;
            color: $font-color-primary;
            padding-bottom: 2em;
            font-weight:300;
            width: 100vw;
            figure{
                display: flex;
                flex-direction: row;
                width: 100vw;
                img{
                    width: 200px;
                    height: 200px;
                    border-radius: 50%;
                    
                }
            }
            article{
                width: 100vw;
                h1{
                    margin-top: 1em;
                    text-align: center;
                    width: 100vw;
                    font-size: 28px;
                }
                p{
                    text-align: center;
                    width: 40vw;
                    margin-top: 1em;
                    font-size: 16px;
                    color: #303030;
                    font-weight: 600;    
                }
            }
            .btn-group{
                display: flex;
                width: 10vw;
                justify-content: center;
                column-gap: 1em;
                margin-top: 1em;
                .btn{
                    width: 120px;
                    height: 40px;
                    border: none;
                    border-radius: 20px;
                    font-size: 14px;
                    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)
                }
                .buy{
                    
                    background-color: $background-color;
                    color: $font-color;
                }
                .about{
                    background-color: #ccc;
                }
               
            }
            
        }
        .benefits-container{
            display: flex;
            flex-direction: column;
            height: fit-content;
            background-color: $background-color;
            padding: 2em 0px;
            width: 100vw;
            border-radius: 0;
            h1{
                
                width: 100vw;
                text-align: center;
                font-size: 24px;
            }
            .beneficios-description{
                margin-top: 1em;
                font-size: 16px;
                text-align: center;
                width: 100vw;
                p{
                   width:50vw;
                }
            }
            article{
                margin-top: 2em;
                width: 100vw;
                .icon-container{
                    text-align: center;
                    width: 100vw;
                    i{
                        
                        font-size: 56px;
                    }
                }
                h2{
                    font-size: 20px;
                    text-align: center;
                }
                p{
                    font-size: 16px;
                    width: 30vw;
                    text-align: center;
                }
            }
        }
        .product-container{
            background-color: $background-color-primary;
            height: fit-content;
            padding-bottom: 2em;
            width: 100vw;
            article{
                display: flex;
                flex-direction: column;
                margin-top: 2em;
                width: 100vw;
                .product-container-content{
                    width: 100vw;
                    h1{
                        color: $font-color-primary;
                        font-size: 24px;
                        font-weight: bold;
                        width: 100vw;
                        text-align: center;
                    }
                    p{
                        margin-top: 1em;
                        color: #303030;
                        width: 50vw;
                        text-align: center;
                        font-size: 16px;
                        font-weight: bold;
                    }
                }
                .product-container-image{
                    width: 100vw;
                    figure{
                        margin: 1em 0;
                        text-align: center;
                        img{
                            width: 200px;
                            border-radius: 20px;
                        }
                    }
                    .color-description{
                        display: flex;
                        width: 20vw;
                        flex-direction: row;
                        font-size: 24px;
                        .blue{
                            color: #3777c6;
                        }
                        .black{
                            color: #000;
                        }
                        .offwhite{
                            color: #ccb487
                        }
                        .gray{
                            color: #9d9c97;
                        }
                        .brown{
                            color: #835e55;
                        }
                        .green{
                            color: #41b5a2;
                        }
                    }
                }
            }
        }
        .howtouse-container{
            display: flex;
            flex-direction: column;
            height: fit-content;
            padding-bottom: 2em;
            width: 100vw;
            border-radius: 0;
            i{
                font-size: 24px;
            }
            h1{
                text-align: center;
                margin: 1em 0px;
                font-size: 24px;
                width: 100vw;
            }
            P{
                font-size: 16px;
                width: 50vw;
                text-align: center;
                margin-bottom: 2em;
            }
            .card-step{
                width: 100vw;
                text-align: center;
                margin-bottom: 1em;
                p{
                    font-size: 16px;
                    width: 20vw;
                }

                img{
                    width: 150px;
                    height: 150px;
                    border-radius: 50%;
                }
            }
            
        }
    }
    @media screen and (max-width:480px)
    {   
        .presentation-container{
            display: flex;
            flex-direction: column;
            height: fit-content;
            flex-wrap: wrap;
            align-items: center;
            background-color:$background-color-primary;
            color: $font-color-primary;
            padding-bottom: 2em;
            font-weight:300;
            width: 100vw;
            figure{
                display: flex;
                flex-direction: row;
                width: 100vw;
                img{
                    width: 150px;
                    height: 150px;
                    border-radius: 50%;
                    
                }
            }
            article{
                width: 100vw;
                h1{
                    margin-top: 1em;
                    text-align: center;
                    width: 100vw;
                    font-size: 28px;
                    font-weight: bolder
                }
                p{
                    text-align: center;
                    width: 80vw;
                    margin-top: 1em;
                    font-size: 16px;
                    color: #303030;
                    font-weight: 600;    
                }
            }
            .btn-group{
                display: flex;
                width: 50vw;
                justify-content: center;
                column-gap: 1em;
                margin-top: 1em;
                .btn{
                    width: 120px;
                    height: 40px;
                    border: none;
                    border-radius: 20px;
                    font-size: 14px;
                    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)
                }
                .buy{
                    
                    background-color: $background-color;
                    color: $font-color;
                }
                .about{
                    background-color: #ccc;
                }
               
            }
            
        }
        .benefits-container{
            display: flex;
            flex-direction: column;
            height: fit-content;
            background-color: $background-color;
            padding: 2em 0px;
            width: 100vw;
            border-radius: 0;
            h1{
                width: 100vw;
                text-align: center;
                font-size: 24px;
            }
            .beneficios-description{
                font-size: 16px;
                text-align: center;
                width: 80vw;
                margin-top: 1em;
                p{
                   width:80vw;
                }
            }
            article{
                margin-top: 2em;
                width: 100vw;
                .icon-container{
                    text-align: center;
                    width: 100vw;
                    i{
                        
                        font-size: 56px;
                    }
                }
                h2{
                    font-size: 20px;
                    text-align: center;
                }
                p{
                    font-size: 16px;
                    width: 50vw;
                    text-align: center;
                }
            }
        }
        .product-container{
            background-color: $background-color-primary;
            height: fit-content;
            padding-bottom: 2em;
            width: 100vw;
            article{
                display: flex;
                flex-direction: column;
                margin-top: 2em;
                width: 100vw;
                .product-container-content{
                    width: 100vw;
                    h1{
                        color: $font-color-primary;
                        font-size: 24px;
                        font-weight: bold;
                        width: 100vw;
                        text-align: center;
                    }
                    p{
                        margin-top: 1em;
                        color: #303030;
                        width: 85vw;
                        text-align: center;
                        font-size: 16px;
                        font-weight: bold;
                    }
                }
                .product-container-image{
                    width: 100vw;
                    figure{
                        margin: 1em 0;
                        text-align: center;
                        img{
                            width: 200px;
                            border-radius: 20px;
                        }
                    }
                    .color-description{
                        display: flex;
                        width: 50vw;
                        flex-direction: row;
                        font-size: 24px;
                        .blue{
                            color: #3777c6;
                        }
                        .black{
                            color: #000;
                        }
                        .offwhite{
                            color: #ccb487
                        }
                        .gray{
                            color: #9d9c97;
                        }
                        .brown{
                            color: #835e55;
                        }
                        .green{
                            color: #41b5a2;
                        }
                    }
                }
            }
        }
        .howtouse-container{
            display: flex;
            flex-direction: column;
            height: fit-content;
            padding-bottom: 2em;
            width: 100vw;
            border-radius: 0;
            i{
                font-size: 24px;
            }
            h1{
                text-align: center;
                margin: 1em 0px;
                font-size: 24px;
                width: 100vw;
            }
            P{
                font-size: 16px;
                width: 80vw;
                text-align: center;
                margin-bottom: 2em;
            }
            .card-step{
                width: 100vw;
                text-align: center;
                margin-bottom: 1em;
                p{
                    font-size: 16px;
                    width: 50vw;
                }

                img{
                    width: 150px;
                    height: 150px;
                    border-radius: 50%;
                }
            }
            
        }
    }
}